{% extends 'base.html' %}
{% load static %}

{% block scripts %}

  <script src={% static 'main.js' %} defer> </script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <!-- Gallery JS -->
  <script src={% static 'js/user_gallery_js.js' %} defer> </script>

{% endblock scripts %}

{% block content %}

  <div class="row">
    <div class="col-5">
      <div id="event_name"> <h1>{{event_id.name}} </h1></div>
        <div> {{event_id.name}} will take place:</div>
    </div>
    <div class="col-7">    
       <div id="event-box"> {{event_id.start_date|date:"M d, Y"}}</div>
       <div id="end_date"> {{event_id.end_date|date:"M d, Y"}}</div>

    </div>
  </div>     
     <div> Time left: </div>  
    
     <div id="countdown-box" class="text-center mt-3 h1" width="100" height="128">  
        
     </div>
     <!-- <a href="/user/user_virtual_box/{{event_id.event_id}}" target="_blank">See in Virtual Room</a> -->

     <div class="wrapper" style="display:none" id="virtual">
      <a href="/user/user_virtual_box/{{event_id.event_id}}" target="_blank" class="a1"><span>Virtual Room!</span></a>
    </div>

     <div class="wrapper" style="display:none" id="purchase">
      <a href="/user/user_cart/{{event_id.event_id}}" class="a1"><span>Purchase Art!</span></a>
    </div>

     <br>
     <!-- <a href="/user/user_cart/{{event_id.event_id}}" > Purchase Any Art</a> -->
     
   
            <section style="margin-top:50px">
             
              <div id="img_gallery" style="display:none">
              <div class="gallery">
                {% for image in image %}
                  <div class="gallery-item item-3x4">
                    
                      <img class="thumb placeholder"  src="{{image.image.url}}" data-src="{{image.image.url}}" data-image="{{image.image.url}}" data-title="Sample Photo" alt="Photo by Daniel J. Schwarz">
                      <div class="caption"><span>Click here for display </span></div>
                    </div>
                  
                  {% endfor %}  
              </div>
            </div> 
            <section>
      
    
      {% comment %} </div> {% endcomment %}
      


   
       
{% endblock content %}