{% extends 'base.html' %}
{% load static %}

{% block scripts %}

       <script src={% static 'main.js' %} defer> </script>

{% endblock scripts %}

{% block content %}
  <div class="row">
    <div class="col-5">
        <div> {{object.name}} will take place:</div>
    </div>
    <div class="col-7">    
       <div id="event-box"> {{object.start_date|date:"M d, Y"}}
      {{object.start_time|time:"H:m:s"}}</div>
    </div>
  </div>     
     <div> Time left: </div>  
      

     <div id="countdown-box" class="text-center mt-3 h1">  
        
     </div>


      {% comment %} Rating {% endcomment %}
      <form class="rating">
        <label>
          <input type="radio" name="stars" value="1" />
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" value="2" />
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" value="3" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>   
        </label>
        <label>
          <input type="radio" name="stars" value="4" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" value="5" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
      </form>

      {% comment %} Rating {% endcomment %}

      

     </div>
      
       
{% endblock content %}