{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_home_style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>

    <header>
      <a href="#" class="brand">Canvas</a>
      <div class="menu">
        <div class="btn">
          <i class="fas fa-times close-btn"></i>
        </div>
        <a href="/user/user_home" class="active">Home</a>
        <a href="/user/user_profile">Profile</a>
        <a href="/user/user_gallery">Gallery</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </div>
      <div class="btn">
        <i class="fas fa-bars menu-btn"></i>
      </div>
    </header>
    <section class="section-main">
      <h1>
        Sticky
        {% for object in objects %}    

         
        <div id= "eventName">
            <input id="hid" type="hidden" value={{object.time}}>
            <a href={{object.get_absolute_url3}}>{{object.name}}</a>
        </div>
        

        
     {% endfor %}

      </h1>
    </section>
     <!-- Filter Events   -->


      <!-- Filter Events   -->


    <section id = "filter_events">
      <div class = "title-text">
          <p> Events Coming Up! </p>
          <h1> Explore the exhibitions </h1>
      </div>   
      
      
      <div id="myBtnContainer" class="center">
          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('photography')"> Photography</button>
          <button class="btn" onclick="filterSelection('abstract')"> Abstract Art</button>
          <button class="btn" onclick="filterSelection('solo')"> Solo</button>
      </div>
        
          <div class="container">
          <div class="filterDiv photography">
              <div class="card">
                  <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                  <div class="container2">
                    <h4><b>Break The Circle</b></h4> 
                    <p>In 3 days</p> 
                    <a href="">Event Details</a>
                  </div>
                </div>
          </div>
          <div class="filterDiv photography">
              <div class="card">
                  <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                  <div class="container2">
                    <h4><b>Break The Circle</b></h4> 
                    <p>In 3 days</p> 
                    <a href="">Event Details</a>
                  </div>
                </div>
          </div>
          <div class="filterDiv abstract">
              <div class="card">
                  <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                  <div class="container2">
                    <h4><b>Break The Circle</b></h4> 
                    <p>In 3 days</p> 
                    <a href="">Event Details</a>
                  </div>
                </div>
          </div>
          <div class="filterDiv photography">
              <div class="card">
                  <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                  <div class="container2">
                    <h4><b>Break The Circle</b></h4> 
                    <p>In 3 days</p> 
                    <a href="">Event Details</a>
                  </div>
                </div>
          </div>
          <div class="filterDiv photography">
              <div class="card">
                  <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                  <div class="container2">
                    <h4><b>Break The Circle</b></h4> 
                    <p>In 3 days</p> 
                    <a href="">Event Details</a>
                  </div>
                </div>
          </div>
          <div class="filterDiv photography">
              <div class="card">
                  <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                  <div class="container2">
                    <h4><b>Break The Circle</b></h4> 
                    <p>In 3 days</p> 
                    <a href="">Event Details</a>
                  </div>
                </div>
          </div>
          <div class="filterDiv solo">
              <div class="card">
                  <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                  <div class="container2">
                    <h4><b>Break The Circle</b></h4> 
                    <p>In 3 days</p> 
                    <a href="">Event Details</a>
                  </div>
                </div>
          </div>

          </div>


  </section> 


{% comment %} For filtering {% endcomment %}
<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  </script>




    <script type="text/javascript">
    //javascript for navigation bar effect on scroll
    window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle('sticky', window.scrollY > 0);
    });

    //javascript for responsive navigation sidebar menu
    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu-btn');
    var closeBtn = document.querySelector('.close-btn');

    menuBtn.addEventListener("click", () => {
      menu.classList.add('active');
    });

    closeBtn.addEventListener("click", () => {
      menu.classList.remove('active');
    });
    </script>

  </body>
</html>
