{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_home_style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>

    <header>
      <a href="#" class="brand">Canvas</a>
      <div class="menu">
        <div class="btn">
          <i class="fas fa-times close-btn"></i>
        </div>
        <a href="/user/user_home" class="active">Home</a>
        <a href="/user/user_profile">Profile</a>
        <a href="/user/user_gallery">Gallery</a>
        <a href="{% url 'user:user_logout' %}">Logout</a>
      </div>
      <div class="btn">
        <i class="fas fa-bars menu-btn"></i>
      </div>
    </header>


   
      <!-- Filter Events   -->


      
    <section id = "filter_events">
      <div class = "title-text">
        <br> 
          {% comment %} <h2> Events Coming Up! </h2> {% endcomment %}
      </div>   
      {% if user.is_authenticated%}
         
     <h1> hello {{request.user.username}} </h1>   
     {% endif %}
  
      <div >
        <form action="{% url 'user:user_home' %}" method="post"> {% csrf_token %}
          <label for="genre"class="center_div">Choose a Category to filter:</label>
          <select id="genre" name="genre">
              {% for genre in genres %}
              <option value="{{genre.genre_name}}" name="genre">{{genre.genre_name}}</option>         
              {% endfor %}      
          </select>
          <input type="submit" value="submit" name ="filterbtn">
        </form>
      </div>

    
          <div class="container">
            {% for object in objects %}     
            <div class="filterDiv">
                <div class="card">
                    <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <div id= "eventName">
                            <h4><b>{{object.name}}</b></h4> 
                            <p>{{object.start_date}}</p> 
                            <b><p> {{object.genre}}</p></b>
                        </div>
                        <a href={{object.get_absolute_url3}}>Event Details</a>

                      {% comment %} <a href="/organization/organization_auth" >Event Details</a> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %} 
    
          
          </div>


  </section> 


{% comment %} For filtering {% endcomment %}
<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  </script>




    <script type="text/javascript">
    //javascript for navigation bar effect on scroll
    window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle('sticky', window.scrollY > 0);
    });

    //javascript for responsive navigation sidebar menu
    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu-btn');
    var closeBtn = document.querySelector('.close-btn');

    menuBtn.addEventListener("click", () => {
      menu.classList.add('active');
    });

    closeBtn.addEventListener("click", () => {
      menu.classList.remove('active');
    });
    </script>

  </body>
</html>
