{% comment %} {% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Gallery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_gallery_style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>

    <header>
      <a href="#" class="brand">Canvas</a>
      <div class="menu">
        <div class="btn">
          <i class="fas fa-times close-btn"></i>
        </div>
        <a href="/user/user_home">Home</a>
        <a href="/user/user_profile">Profile</a>
        <a href="/user/user_gallery" class="active">Events</a>
        <a href="/user/user_cart">Purchase</a>
        <a href="#">Logout</a>
      </div>
      <div class="btn">
        <i class="fas fa-bars menu-btn"></i>
      </div>
    </header>

    {% comment %} Section starts {% endcomment %}
    {% comment %} <section class="section-main">

       
    </section>

    {% comment %} Setion ends {% endcomment %}


    {% comment %} <script type="text/javascript">
    //javascript for navigation bar effect on scroll
    window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle('sticky', window.scrollY > 0);
    }); {% endcomment %}

    {% comment %} //javascript for responsive navigation sidebar menu {% endcomment %}
    {% comment %} var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu-btn');
    var closeBtn = document.querySelector('.close-btn');

    menuBtn.addEventListener("click", () => {
      menu.classList.add('active');
    });

    closeBtn.addEventListener("click", () => {
      menu.classList.remove('active');
    });
  </script> {% endcomment %} 

  {% comment %} <!-- jQuery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <!-- Gallery JS -->
  <script src="{% static 'js/user_gallery_js.js' %}"></script> {% endcomment %}

  {% comment %} </body>
</html> {% endcomment %} 
