{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Canvas Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home_style.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
</head>
<body>

    <section id="banner">
        <div class="banner-text">
            <h1> Canvas </h1>
            <p> Come, Enjoy & Explore </p>
            
            <div class="banner-btn">
                <a href="/user/user_auth"> <span> </span>User</a>
                <a href="/organization/organization_auth"><span> </span> Organization</a>
            </div>

        </div>
        
    </section>


    <div id="sideNav">
        <nav>
            <ul>
                <li> <a href="#banner"> HOME </a> </li>
                <li> <a href="#filter_events"> EVENTS </a> </li>
                <li> <a href="#feature"> FEATURES </a> </li>
                <li> <a href="#service"> SERVICES </a> </li>
                <li> <a href="#testimonial"> TESTIMONIALS </a> </li>
                <li> <a href="#footer"> MEET US </a> </li>
            </ul>
        </nav>
    </div>

    <div id = "menuBtn">
        <img src="{% static 'images/menu.png' %}" id="menu">  
    </div> 




    <!-- Filter Events   -->


    <section id = "filter_events">
        <div class = "title-text">
            <p> Events Coming Up! </p>
        </div>   


        <div class="center_div"> 
            <form action="{% url 'index' %}" method="post"> {% csrf_token %}
                <label for="genre">Choose a Category:</label>
                <select id="genre" name="genre">
                    {% for genre in genres %}
                    <option value="{{genre.genre_name}}" name="genre">{{genre.genre_name}}</option>
                    
                    {% endfor %}
                
                </select>
                <input type="submit" value="submit" name ="filterbtn">
            </form>
        </div>


    
    <div class="container">
        {% for object in objects %}     
        <div class="filterDiv">
            <div class="card">
                <img src="{% static 'images/org_img.jpg' %}" alt="Avatar" style="width:100%">
                <div class="container2">
                    <div id= "eventName">
                        <h4><b>{{object.name}}</b></h4> 
                        <p>{{object.start_date}}</p> 
                    </div>
                  
                 
                  <a href="/organization/organization_auth" >Event Details</a>
                </div>
            </div>
        </div>
        {% endfor %} 


        </div>

    </section> 




    <!-- Features   -->

    <section id = "feature">
        <div class = "title-text">
            <p> FEATURES </p>
            <h1>Why Choose Us </h1>
        </div>    

        <div class = "feature-box">
            <div class = "features">
                <h1> Experienced Staff </h1>
                <div class = "features-desc">
                    <div class = "feature-icon"> 
                        <i class="fa fa-shield"></i>
                    </div>
                    <div class = "feature-text"> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum neque egestas congue quisque egestas. </p> </div>
                </div>

                <h1> Pre Booking Online </h1>
                <div class = "features-desc">
                    <div class = "feature-icon"> 
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class = "feature-text"> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum neque egestas congue quisque egestas. </p> </div>
                </div>

                <h1> Affordable Cost </h1>
                <div class = "features-desc">
                    <div class = "feature-icon"> 
                        <i class="fa fa-money"></i>
                    </div>
                    <div class = "feature-text"> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum neque egestas congue quisque egestas. </p> </div>
                </div>
            </div>
            <div class = "features-img">
                <img src="{% static 'images/barber-man.jpg' %}" id="menu">  
            </div>
        </div>
    </section>

    <!--Service -->

    <section id="service">
        <div class="title-text">
            <p> SERVICES </p>
            <h1> We provide services <h1>
        </div>

        <div class="service-box">
            <div class="single-service">
                <img src="{% static 'images/pic-1.jpg' %}" id="menu">  
                <div class="overlay"> </div> 
                <div class="service-desc">
                    <h3> Testing Text</h3>
                    <hr>
                    <p>This is testing This is testing This is testing This is testing This is testing</p>
                </div>
            </div>
            <div class="single-service">
                <img src="{% static 'images/pic-2.jpg' %}" id="menu"> 
                <div class="overlay"> </div> 
                <div class="service-desc">
                    <h3> Testing Text </h3>
                    <hr>
                    <p>This is testing This is testing This is testing This is testing This is testing</p>
                </div>
            </div>
            <div class="single-service">
                <img src="{% static 'images/pic-3.jpg' %}" id="menu"> 
                <div class="overlay"> </div> 
                <div class="service-desc">
                    <h3> Testing Text </h3>
                    <hr>
                    <p>This is testing This is testing This is testing This is testing This is testing</p>
                </div>
            </div>
            <div class="single-service">
                <img src="{% static 'images/pic-4.jpg' %}" id="menu"> 
                <div class="overlay"> </div> 
                <div class="service-desc">
                    <h3> Testing Text </h3>
                    <hr>
                    <p>This is testing This is testing This is testing This is testing This is testing</p>
                </div>
            </div>
        </div>
    </section>
    

    <!--Testimonials-->


    <section id="testimonial">
        <div class="title-text">
            <p> TESTIMONIAL </p>
            <h1> What Client Says<h1>
        </div>

        <div class="testimonial-row">
            <div class="testimonial-col">
                <div class = "user">
                    <img src="{% static 'images/user-2.jpg' %}" id="menu"> 
                    <div class="user-info">
                        <h4>AJWAD ABRAR <i class="fa fa-twitter"> </i> </h4>
                        <small> @ajwad_abrar </small>
                    </div>
                </div>
                <p> egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut </p>
            </div>
            <div class="testimonial-col">
                <di class = "user">
                    <img src="{% static 'images/img-2.jpg' %}" id="menu"> 
                    <div class="user-info">
                        <h4>Tabassum Oeshy <i class="fa fa-twitter"> </i> </h4>
                        <small> @tabassum_oeshy </small>
                    </div>
                </di v>
                <p> egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut </p>
            </div>
            <div class="testimonial-col">
                <div class = "user">
                    <img src="{% static 'images/img-3.jpg' %}" id="menu"> 
                    <div class="user-info">
                        <h4>Prianka Maheru<i class="fa fa-twitter"> </i> </h4>
                        <small> @prianka </small>
                    </div>
                </div>
                <p> egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut </p>
            </div>
        </div>
    <section>



    <!--footer-->

    <section id="footer">
        <img src="{% static 'images/footer-img.png' %}" class="footer-img"> 
        <div class="title-text">
            <p> CONTACT </p>
            <h1> Visit Shop Today<h1>
        </div>
    <div class="footer-row">
        <div class="footer-left"> 
            <h1> Opening Hours </h1>
            <p><i class="fa fa-clock-o"></i> Monday to Friday - 9am to 9pm</p>
            <p> <i class="fa fa-clock-o"></i>Saturday and Sunday - 8am to 11pm</p>
        </div>
        <div class="footer-right">
            <h1>Get In Touch </h1>
            <p>#30 Boardbazar, Gazipur, BD <i class="fa fa-map-marker"></i></p>
            <p>example@website.com <i class="fa fa-paper"></i> </p>
            <p>+880 1984567679 <i class="fa fa-phone"></i></p>
        </div>
    </div>

    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="1071" height="583" id="gmap_canvas" src="https://maps.google.com/maps?q=IUT&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe><a href="https://123movies-to.org">123 movies</a><br>
        <style>.mapouter{position:relative; padding-top: 300px; padding-left: 200px; padding-bottom: 20px; text-align:right;height:583px;width:1071px;}</style>
        <a href="https://www.embedgooglemap.net">embedding google maps in html</a>
        <style>.gmap_canvas {overflow:hidden;background:none!important;height:583px;width:1071px;}</style>
        </div>
    </div>



    <div class="social-links">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-youtube-play"></i>
        <p>Copyright Group 10 </p>
    </div>

    </section>




<script>
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }
    
    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }
    
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }
    
    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    </script>


    <script>
        var menuBtn = document.getElementById("menuBtn");
        var sideNav = document.getElementById("sideNav");
        var menu = document.getElementById("menu");

        sideNav.style.right = "-250px";

        menuBtn.onclick = function(){
            if(sideNav.style.right == "-250px"){
                sideNav.style.right = "0";
                menu.src = "{% static 'images/close.png' %}"
            }
            else{
                sideNav.style.right = "-250px";
                menu.src = "{% static 'images/menu.png' %}"
            }
        }

        // All animations will take exactly 500ms
        var scroll = new SmoothScroll('a[href*="#"]', {
            speed: 1000,
            speedAsDuration: true
        });

    </script>


</body>
</html>


