{% extends 'Org_base.html' %}
{% load static %}



{% block content %}

  {% if orgs.is_authenticated %}
  
  <ul>
    
    <li class="nav-item">
      <a class="nav-link" href="#">Welcome, {{orgs.name}}</a>
    </li>
  </ul>
  
  {% endif %}
      
 
     {% for object in object_list %}    

         
        <div id= "eventName">
            <input id="hid" type="hidden" value={{object.time}}>
            <a href={{object.get_absolute_url2}}>{{object.name}}</a>
        </div>
        

        
     {% endfor %}

{% endblock content %}
