{% extends 'Org_base.html' %}
{% load static %}

{% block scripts %}

       <script src={% static 'main.js' %} defer> </script>
        <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <!-- Gallery JS -->
  <script src={% static 'js/user_gallery_js.js' %} defer> </script>

{% endblock scripts %}

{% block content %}
  <div class="row">
    <div class="col-5">
        <div> {{object.name}} will take place:</div>
    </div>
    <div class="col-7">    
       <div id="event-box"> {{object.start_date}}</div>
    </div>
  </div>     
     
    <br> <br>
     
     <div>
      <button type="button" class="btn btn-primary">Add Picture</button>
     </div>


<br><br>
<section>
  <div class="gallery">
    {% for image in image %}
      <div class="gallery-item item-3x4">
          <img class="thumb placeholder"  src="{{image.image.url}}" data-src="{{image.image.url}}" data-image="{{image.image.url}}">
          <div class="caption"><span>Click here for display </span></div>
      </div>
      {% endfor %}  
  </div>
<section>
{% endblock content %}