{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization | Home</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/organization_home_style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <style>
      
      .request_dp{
          border: 2px solid black;
          border-radius: 50%;
          padding: 1px;
          margin-right: 3px;
      }

      #request_of_event:hover{
        background-color: cornsilk;
      }


      #filter_events{
        width: 100%;
        padding: 150px 0;
        min-height: 100vh;
      }

      @media (max-width: 991px) {
        .tab-content>.tab-pane {
          display: block;
          opacity: 1;
        }
      }

    </style>

  </head>


  <body>

    <header>
      <a href="#" class="brand">Canvas</a>
      <div class="menu">
        <div class="btn">
          <i class="fas fa-times close-btn"></i>
        </div>
        <a href="/organization/organization_home" class="active">Home</a>
        <a href="/organization/organization_profile">Profile</a>
        <a href="/organization/eventform">Event</a>
        <a href="{% url 'organization:organization_logout' %}">Logout</a>
      </div>
      <div class="btn">
        <i class="fas fa-bars menu-btn"></i>
      </div>
    </header>


    <!-- <section class="section-main">
      <h3>

       {% if user.is_authenticated%}
         
        hello {{request.user.username}}    
     
           {% for object in objects%}    
      
               {% if object.org == request.user.username %}
                    {% if object.is_accepted == False and object.is_rejected == False%}

                        <div id= "eventName">
                          
                          Your request for <a href={{object.get_absolute_url2}}>{{object.name}}</a> is pending
                        </div>
                    {% elif object.is_accepted == True and object.is_rejected == False %}
                    <div id= "eventName">
                          
                      Your request for <a href={{object.get_absolute_url2}}>{{object.name}}</a> has been accepted
                    </div>
                    {% elif  object.is_accepted == False and object.is_rejected == True %}
                    <div id= "eventName">
                          
                      Your request for <a href={{object.get_absolute_url2}}>{{object.name}}</a> has been rejected
                    </div>


                    {% endif %}

              {% endif %}
              
           {% endfor %}
      

       
        {% endif %} 


      </h3> 
      
    </section> -->


    <section id = "filter_events">

        <div>

          <ul class="nav nav-tabs">
        
            <li class="nav-item "><a data-toggle="tab" class="nav-link active" href="#pending"><b>Pending</b></a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#approved"><b>Approved</b></a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#rejected"><b>Rejected</b></a></li>
        
          </ul>

        </div>
  
        <div class="tab-content">
            
          <div id="pending" class="tab-pane active">
              
            <div class="list-group p-0">

              <!-- {% for object in objects %} -->
              
                <a href="#" class="list-group-item list-group-item-action" aria-current="true" id="request_of_event">

                  <div class=" w-100 justify-content-between p-2">

                    <img src="{% static 'images\Admin_img.png' %}" class="request_dp float-left " style="width:80px;height:80px;"> 
                              
                    <!-- <h5 class="mb-1"><b>&nbsp;  {{object.org}},</b> had requested for <input type="button" onclick="location.href='{{object.get_absolute_url4}}';" value="{{object.name}}" /> </h5>                                                    -->
                    <h5 class="mb-1"><b>&nbsp;  iutps,</b> had requested for event2 </h5> 
                    <h2>hello</h2>                                                  
                              
                    <!-- <form action="" method="POST"> {% csrf_token %}

                      <input type="hidden" name="eid" id="eid" value= "{{object.event_id}}"> 
                                
                    </form> -->
                  </div>
                </a>

              <!-- {% endfor %} -->

            </div>            

          </div>
              
          <div id="approved" class="tab-pane"><p></p> <!--Approved requests-->

            <div class="list-group p-0">
              <!-- {% for accepted in accepted %} -->
                <a href="#" class="list-group-item list-group-item-action" aria-current="true" id="request_of_event">
                  <div class=" w-100 justify-content-between p-2">

                    <img src="{% static 'images\Admin_img.png' %}" class="request_dp float-left" style="width:80px;height:80px;">

                    <!-- <h5 class="mb-1"><b>&nbsp; {{accepted.org}}</b> had requested  for <input type="button" onclick="location.href='{{accepted.get_absolute_url4}}';" value="{{accepted.name}}" /> </h5> -->
                    <h5 class="mb-1"><b>&nbsp;  iutps,</b> had requested for event1 </h5>                                                   

                    
                  </div>
                </a>
                <!-- {% endfor %} -->
              </div>
      
            </div> 

              <div id="rejected" class="tab-pane"><p></p> 

                <div class="list-group p-0">
                  <!-- {% for rejected in rejected %} -->
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true" id="request_of_event">
                      <div class=" w-100 justify-content-between p-2">

                        <img src="{% static 'images\Admin_img.png' %}" class="request_dp float-left" style="width:80px;height:80px;">

                        <!-- <h5 class="mb-1"><b>&nbsp; {{rejected.org}}</b> had requested for <input type="button" onclick="location.href='{{rejected.get_absolute_url4}}';" value="{{rejected.name}}" /> </h5> -->
                        <h5 class="mb-1"><b>&nbsp;  iutps,</b> had requested for event2 </h5>                                                   
                        
                      </div>
                    </a>
                  <!-- {% endfor %} -->
                </div>
        
              </div> 

      </div>

    </section>





      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" int egrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">

        //javascript for navigation bar effect on scroll
        window.addEventListener("scroll", function(){
          var header = document.querySelector("header");
          header.classList.toggle('sticky', window.scrollY > 0);
        });

        //javascript for responsive navigation sidebar menu
        var menu = document.querySelector('.menu');
        var menuBtn = document.querySelector('.menu-btn');
        var closeBtn = document.querySelector('.close-btn');

        menuBtn.addEventListener("click", () => {
          menu.classList.add('active');
        });

        closeBtn.addEventListener("click", () => {
          menu.classList.remove('active');
        });

    </script>


  

  </body>
</html>
