
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background: url(images/bg.jpg) no-repeat; */
  background-color: #f6f6f6;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 20px 100px;
}

.section-main h1{
  /* color: rgba(255, 255, 255, 0.5); */
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
}

header.sticky{
  background: #1483D5;
  /* background: #d2551b; */
  padding: 15px 100px;
}

header .brand{
  color: rgb(9, 9, 9);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a{
  color: rgb(19, 12, 12);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: rgb(3, 0, 0);
  background: rgb(230, 123, 70);
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}






@media (max-width: 1060px){
  header .btn{
    display: block;
  }

  header .menu{
    position: fixed;
    background: #1483D5;
    /* background: #1c9e58; */
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu.active{
    right: 0;
  }

  header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}



.active{
  background: rgb(76, 170, 151);
  font-weight: 900;
  color: rgb(243, 243, 243);
}


.center_div {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: -25px;
  padding-left: 25%;
  font-size: 30px;
  font-weight: 700;
}

























/* Filter Events css */

.title-text{
  text-align: center;
  padding-bottom: 70px;
}

.title-text p{
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text p::after{
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title-text h1{
  font-size: 50px;
}

#filter_events{
  width: 100%;
  padding: 150px 0;
  min-height: 100vh;
}


.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 220px;
  /* line-height: 100px; */
  text-align: center;
  margin: 10px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container2 {
  padding: 2px 16px;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
  margin-top: -25px;
  padding-left: 25%;
}









@media (max-width: 991px) {
  .tab-content>.tab-pane {
    display: block;
    opacity: 1;
  }
}