
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background: url(bg.jpg)no-repeat;
 background-size: cover;
 background-position: center;
 
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background: url(images/bg.jpg) no-repeat; */
  background-color: #0d8758;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.section-main h1{
  /* color: rgba(255, 255, 255, 0.5); */
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
}

header.sticky{
  background: #1483D5;
  background: #04554d;
  padding: 15px 100px;
}

header .brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: #fff;
  background: #fff;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.section-two{
  min-height: 100vh;
  background: #001018;
  padding: 20px 100px;
}

.section-two h2{
  color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.section-two p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin: 30px 0;
}




@media (max-width: 1060px){
  header .btn{
    display: block;
  }

  header .menu{
    position: fixed;
    background: #1483D5;
    /* background: #1c9e58; */
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu.active{
    right: 0;
  }

  header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}



.active{
  background: rgb(55, 162, 107);
  font-weight: 900;
  color: blue;
}








/* Oeshy kaaj korbe profile er style eikhan theke */

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} body {
background-color: #f9f9fa
}

.padding {
padding: 3rem !important
}

.user-card-full {
overflow: hidden;
}

.card {
border-radius: 5px;
-webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
border: none;
margin-bottom: 30px;
}

.m-r-0 {
margin-right: 0px;
}

.m-l-0 {
margin-left: 0px;
}

.user-card-full .user-profile {
border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
padding: 20px 0;
}

.card-block {
padding: 1.25rem;
}

.m-b-25 {
margin-bottom: 25px;
}

.img-radius{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

}



h6 {
font-size: 14px;
}

.card .card-block p {
line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
font-size: 14px;
}
}

.card-block {
padding: 1.25rem;
}

.b-b-default {
border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
margin-bottom: 20px;
}

.p-b-5 {
padding-bottom: 5px !important;
}

.card .card-block p {
line-height: 25px;
}

.m-b-10 {
margin-bottom: 10px;
}

.text-muted {
color: #919aa3 !important;
}

.b-b-default {
border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
font-weight: 600;
}

.m-b-20 {
margin-bottom: 20px;
}

.m-t-40 {
margin-top: 20px;
}

.p-b-5 {
padding-bottom: 5px !important;
}

.m-b-10 {
margin-bottom: 10px;
}

.m-t-40 {
margin-top: 20px;
}

.user-card-full .social-link li {
display: inline-block;
}

.user-card-full .social-link li a {
font-size: 20px;
margin: 0 10px 0 0;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}