{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/Admin_profile_style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  </head>
  <body>

    <header>
      <a href="#" class="brand">Canvas</a>
      <div class="menu">
        <div class="btn">
          <i class="fas fa-times close-btn"></i>
        </div>
        <a href="/Admin/Admin_home" >Home</a>
        <a href="/Admin/Admin_profile" class="active">Profile</a>
        <a href="#">Logout</a>
      </div>
      <div class="btn">
        <i class="fas fa-bars menu-btn"></i>
      </div>
    </header>

    
    <section class="section-main">
      
      <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
    <div class="col-xl-20 col-md-20">
      <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white txt">
                    <div class="m-b-25">
                        <img src="{% static 'images\Admin_img.png' %}" class="img-radius" alt="User-Profile-Image">
                    </div>
                    
                    <h6 class="f-w-700 name">Admin</h6>
                  </div>
                    
                    <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                
            </div>
            <div class="col-sm-8">
                <div class="card-block">
                    <h6 class="m-b-20 p-b-4 b-b-default f-w-600">Information</h6>
                    <div class="row info1">
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600 name1">Name</p>
                        <h6 class="text-muted f-w-400">Admin</h6>
                    </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600 email">Email</p>
                            <h6 class="text-muted f-w-400">admin@gmail.com</h6>
                        </div>
                       
                    </div>
                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Update Profile</h6>

                    <div class="row">


                     <div class="col-md-8">
                        <div class="inputs px-4">
                          <span>Name</span>
                          <input type="text" class="form-control">
                        </div>
                      </div>

                     <div class="col-md-8">
                        <div class="inputs px-4">
                          <span>Email</span>
                          <input type="text" class="form-control">
                        </div>
                      </div>


                      <div class="col-md-8">
                      <div class="inputs px-4">
                        <span>Password</span>
                        <input type="text" class="form-control">
                      </div>
                    </div>


                    <div class="col-md-8">
                      <div class="inputs px-4">
                        <div class="profile-pic-div">
                            <label for="file" id="uploadBtn">Choose Photo</label>
                            <input type="file" id="file">
                          </div>
                        </div>
                    </div>
                <div class="btn">
                    <button type="submit" class="submit" name="registerbtn">Update</button></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
    </div>
</div>
    
    </section>

    <script type="text/javascript">
    //javascript for navigation bar effect on scroll
    window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle('sticky', window.scrollY > 0);
    });

    //javascript for responsive navigation sidebar menu
    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu-btn');
    var closeBtn = document.querySelector('.close-btn');

    menuBtn.addEventListener("click", () => {
      menu.classList.add('active');
    });

    closeBtn.addEventListener("click", () => {
      menu.classList.remove('active');
    });
    <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
      myLink.addEventListener('click', function(e) {
        e.preventDefault();
      });</script>
    </script>
    <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
      myLink.addEventListener('click', function(e) {
        e.preventDefault();
      });</script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
  </body>
</html>
