{% extends 'Admin_base.html' %}
{% load static %}

{% block scripts %}

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <!-- Gallery JS -->
  <script src={% static 'js/user_gallery_js.js' %} defer> </script>

{% endblock scripts %}

{% block content %}
  <div class="row countdown-style">
    <div> {{object.name}} will take place:  {{object.start_date|date:"M d, Y"}} </div>
  </div>
  <br><br><br>
        <section>
          <!-- Photos by Daniel J. Schwarz (unsplash.com/@danieljschwarz) -->
          <div class="gallery">
            {% for image in image %}
              <div class="gallery-item item-3x4">
                  <img class="thumb placeholder"  src="{{image.image.url}}" data-src="{{image.image.url}}" data-image="{{image.image.url}}" data-title="Sample Photo" alt="Photo by Daniel J. Schwarz">
                  <div class="caption"><span>Click here for display </span></div>
              </div>
              {% endfor %}  
          </div>
        <section>
     
       
{% endblock content %}